/* reset */
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}
/* styling */
body{
  background-color: lightslategrey;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}
#root {
    display: flex;
    align-items: center;
    justify-content: center;
  width: 900px;
  height: 900px;
  margin: 0 auto;
  text-align: center;
  background-color: lightslategrey;

}

h1 {
  font-size: 54px;
  text-align: center;
  color: white;
  font-weight: 800;
  margin: 0px;
}

p {
  font-size: 16px;
  text-align: center;
}
strong.important {
  text-transform: uppercase; }
#board{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.row {
    display:flex;
  width: 400px;
  /* height: 100px; */
  margin: 0 auto;
  /* border: 1px solid black; */
}

.tile {
    display: flex;
    align-items: center;
    justify-content: center;
  height: 100px;
  width: 100px;
  background: whitesmoke;

  border-style: outset;
  border-width: 4px;

  border-radius: 10px;
  padding: 3px;
  font-size: 50px;
  font-weight: bold;
  position: relative;
  text-align: center;
}
.big{
  font-size: 40px;
}

.tile2 {
  background: #81f5ff;
}
.tile4 {
  background: #a0ffe6;
}
.tile8 {
  background: #ffffdd;
}
.tile16 {
  background:#FFD5E5;
}
.tile32 {
  background:#61d4b3;
}
.tile64 {
  background:#fdd365;
}
.tile128 {
  background: #fb8d62;
}
.tile256 {
  background:#fd2eb3;
}
.tile512 {
  background:#66cccc;
}
.tile1024 {
  background:#cc0066;
}
.tile2048 {
  background:#FFCC00;
}
.tile4096 {
  background: #ff6666;
}
.game-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
button{
  border: none;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  color: white;
  background: lightslategray;
  font-size: 22px;
  cursor: pointer;
  font-weight: 700;
}
.heading{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  font-size: 22px;
   color: white;
  font-weight: 700;
}
.game-explanation{
  margin-top: 20px;
  font-size: 22px;
   color: black;
  font-weight: 700;
}
.message{
 font-size: 28px;
   color: #cc0066;
  font-weight: 700;
}

.footer{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 16px;
}

