#root {
    display: flex;
    align-items: center;
    justify-content: center;
  width: 600px;
  height: 600px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid red;

}

h1 {
  font-size: 24px;
  text-align: center;
}

p {
  font-size: 16px;
  text-align: center;
}
strong.important {
  text-transform: uppercase; }
#board{
    display: flex;
    flex-direction: column;
    /* width: 400px;
  height: 400px; */
  /* background-color: aqua;
   border: 1px solid red; */
}
.row {
    display:flex;
  width: 400px;
  /* height: 100px; */
  margin: 0 auto;
  /* border: 1px solid black; */
}

/* .row:after {
  content: "";
  clear: both;
  display: block;
} */

.tile {
    display: flex;
    align-items: center;
    justify-content: center;
  height: 100px;
  width: 100px;
  background: whitesmoke;
  /* float: left; */
  border-style: outset;
  border-width: 2px;
  /* line-height: 20px; */
  border-radius: 10px;
  padding: 3px;
  font-size: 60px;
  font-weight: bold;
  position: relative;
  text-align: center;
}
.big{
  font-size: 40px;
}

.tile2 {
  background: #81f5ff;
}
.tile4 {
  background: #a0ffe6;
}
.tile8 {
  background: #ffffdd;
}
.tile16 {
  background:#FFD5E5;
}
.tile32 {
  background:#61d4b3;
}
.tile64 {
  background:#fdd365;
}
.tile128 {
  background: #fb8d62;
}
.tile256 {
  background:#fd2eb3;
}
.tile512 {
  background:#66cccc;
}
.tile1024 {
  background:#cc0066;
}
.tile2048 {
  background:#FFCC00;
}
.tile4096 {
  background: #ff6666;
}

